data-raw/
data-processed/
# data-processed/raw-tidy/

data-spatial/
# Environmental layers don't need to be shared as they are publicly available (data-spatial/environmental-data)
# NZ coastline and Isobaths are vectors, no need to add to GitHub (data-spatial/nz) 
# Transects et al are build through the scripts, so don't need to share either (data-spatial/transects)

# Exploratory Data Analysis (EDA) -- not necessarily share them all
results/EDA
# No need to share CSV and RDS files
results/*.csv
results/*.rds

# Rmd/TeX files -- not to share, yet
rmd_tex/

# Summary of results for Ngati Kuri
# High-level wording without all the nitty-griddies
summary-results_seabirds-FarOut.doc
summary-results_seabirds-FarOut.pdf
plain-language-summary_seabirds-FarOut.doc


# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
